.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
    margin:10px 0 0  150px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  .hero h1 {
    font-weight: 800;
    line-height: 102px;
    font-size: 108px;
  }
  .hero p {
    font-weight: 600;
    color:grey;
    max-width: 400px;
  }
  
  .hero-btn {
    display: flex;
    gap: 40px;
  }
  .shop{
    background-color:  #D01C28 ;
    font-weight: 500;
    border-radius: 10px;
    font-size: 24px;
    outline: none;

  }
  
  .secondary-btn {
    background: transparent;
    color:grey;
    border: 2px solid gray;
    background-color: white;
    font-size: 24px;
    border-radius: 10px;

  }
  
  .shopping p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .brand-icons {
    display: flex;
    gap: 16px;
  }